// Toggle.scss
.toggle {
    display: flex;
    $btnSize: 16px;
    $padding: 2px;

    .toggle-switch {
        width: calc((#{$btnSize} * 2) + (#{$padding}* 2));
        height: calc((#{$btnSize}) + (#{$padding}* 2));
        background: #ccc;
        border-radius: calc(#{$btnSize} * 1.5);
        position: relative;
        cursor: pointer;
        transition: background-color 0.3s;

        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;

            &:hover {
                cursor: not-allowed;
            }
        }

        .toggle-handle {
            width: $btnSize;
            height: $btnSize;
            background: white;
            border-radius: 50%;
            position: absolute;
            top: $padding;
            left: $padding;
            transition: transform 0.3s;
        }
    }

    &.on {
        .toggle-switch {
            background: #4caf50;

            .toggle-handle {
                transform: translateX($btnSize);
            }
        }

        &.off {
            .toggle-switch {
                background: #ccc;

                .toggle-handle {
                    transform: translateX(0);
                }
            }
        }
    }
}
